<% if user_signed_in? %>
 <% if current_user.oauth_token %>
      <% @graph = Koala::Facebook::API.new(current_user.oauth_token) %>
      <% @a = @graph.get_object("me") %>
      <% @friends = @graph.get_connections("me", "friends") %>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">

          <h3 class="panel-title">
            Welcome to Social Axis!</h3></div> 
         <div class="panel-body">
        </br>
         <center> <img src ="<%= @picture = @graph.get_picture( "me", type: :large) %>" > </center>
      


          <h5> Name: <%= @a["name"] %> </h5>
          <% b = 0 %>
          <% @friends.each do |f| %>
           <% b = b+1 %>
          <% end %>

          <% if @a["location"] %>
            <h5>City: <%= @a["location"]["name"] %></h5>
          <%else%>
            <h5> City: New York, NY </h5>
          <%end%>
          <h5>Status: <%if b>=1000%> Party Animal <%else%> Yolo Monster <%end%>
          </div>
        </div>

    
        <%= render :partial=>'show_payments', :locals=> {:reservation => Reservation.find(:all),:table =>Table.find(:all), :nightclub => Nightclub.find(:all), :payment => Payment.find(:all)} %>
    
      </div>

    <div class="col-md-8">
       <div class="panel panel-default">
         <div class="panel-heading"> 
         <h4> <%= @a["first_name"]%> let's book you a table: </h4>
        </div>
         <%= render :partial=>'show_nightclubs', :locals=> {:nightclub => Nightclub.find(:all)} %>
      </div>
      </div>
    </div>
</div>


  <% else %>

    <h3> <%= current_user.email %> Let's Book you a table </h3>
          <%= render :partial=>'show_nightclubs', :locals=> {:nightclub => Nightclub.find(:all)} %>

         
  <% end %>
</div>
</div>

     <% else %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style=" margin: 0 auto" >
 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Slider Content (Wrapper for slides )-->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/lounge.jpg" style='width:100%;' border="0" alt="Null">
      <div class="carousel-caption">
     <h4><p>Social Axis connects you to the most exclusive nightclubs in your city, while rewarding you for being socially connected</p></h4>
      <%= link_to '<i class="fa fa-facebook"></i>
      Sign in with Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook btn-lg"  %>
        </br>
      </div>
    </div>
     <div class="item">
      <img src="/assets/tables.jpg" style='width:100%;' border="0" alt="Null">
      <div class="carousel-caption">
      <h4><p>Social Axis gives you ultimate control. Book the table you want and receive exclusive hookups based ony your social network. </p></h4>
       <%= link_to '<i class="fa fa-facebook"></i>
      Sign in with Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook btn-lg"  %>
        </br>
      </div>
    </div>

       <div class="item">
      <img src="/assets/club.jpg" style='width:100%;' border="0" alt="Null">
      <div class="carousel-caption">
      <h4><p>Stop wondering if you'll get in. Join Social Axis now, and change how you go out</p></h4>
       <%= link_to '<i class="fa fa-facebook"></i>
      Sign in with Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook btn-lg"  %>
    </br>
      </div>
    </div>




  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>



</div>

<div>
</br>
</br>
    
  </br>
</br>

</div>
    
     <% end %>



