<% if user_signed_in? %>
 <% if current_user.oauth_token %>
      <% Koala.config.api_version = "v2.1" %>
      <% @graph = Koala::Facebook::API.new(current_user.oauth_token) %>
      <% @a = @graph.get_object("me") %>
      <% friends =  @graph.api("me/friends") %>
      <% permissions = @graph.get_connections('me','permissions') %>

      <div class="overlay"></div>
      <div class="container">

        <div class="group one-three">

          <div class="infobar">

            <div class="profile box">

              <div class="box-inner">

                <div id="profile-slider" class="profile-slider">
                  <div class="profile-details">
                    <img src ="<%= @picture = @graph.get_picture( "me", type: :large) %>" >

                    <dl class="group">
                      <dt>Name:</dt>
                      <dd><%= @a["name"] %></dd>
                      <dt>City:</dt>
                      <% if @a["location"] %>
                        <dd><%= @a["location"]["name"] %></dd>
                      <%else%>
                        <dd>Missing your city</dd>
                      <%end%>
                      <dt class="status-info">Status:</dt>

                      <% if friends["summary"]["total_count"] > 800 and friends["summary"]["total_count"] <= 1000 %>
                        <dd class="status-info"><button id="show-status" class="status">Turned Up</button></dd>
                      
                      <% elsif friends["summary"]["total_count"] >1000 and friends["summary"]["total_count"] <=2000 %>
                        <dd class="status-info"><button id="show-status" class="status">VIP</button></dd>
                      
                      <% elsif friends["summary"]["total_count"] >2000 %>
                        <dd class="status-info"><button id="show-status" class="status">Socialite</button></dd>
                      
                      <%else%>
                        <dd class="status-info"><button id="show-status" class="status">Party Animal</button></dd>
                      
                      <%end%>
                    </dl>
                  </div>

                  <div class="status-details">
                    <button id="close-status" type="button"><i class="icon back"><span></span>Back</i></button>
                       <% if friends["summary"]["total_count"] > 800 and friends["summary"]["total_count"] <= 1000 %>
                        <div class="titleset all">
                          <i class="icon party"></i>
                          <h3>Turned Up</h3>
                        </div>
                        <p>Turned up description</p>

                      <% elsif friends["summary"]["total_count"] >1000 and friends["summary"]["total_count"] <=2000 %>

                        <div class="titleset all">
                          <i class="icon party"></i>
                          <h3>VIP</h3>
                        </div>
                        <p>VIP description</p>

                       <% elsif friends["summary"]["total_count"] >2000 %>

                        <div class="titleset all">
                          <i class="icon party"></i>
                          <h3>Socialite</h3>
                        </div>
                        <p>Socialite description</p>

                      <%else%>

                        <div class="titleset all">
                          <i class="icon party"></i>
                          <h3>Party Animal</h3>
                        </div>
                        <p>Party animal description</p>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>

            <div class="reservation-list box">
              <div class="box-inner">
                <%= render :partial=>'show_payments', :locals=> {:reservation => Reservation.find(:all),:table =>Table.find(:all), :nightclub => Nightclub.find(:all), :payment => Payment.find(:all)} %>
              </div>
            </div>
          </div>

          <% if @a["location"]["name"] == "New York, New York" %>
            <div>
              <%= render :partial=>'show_nightclubs', :locals=> {:nightclub => Nightclub.find(:all)} %>
            </div>
          <%else%>
        
                  <div>
                    <p class="warning">Sorry! Social Axis isn't currently in your city. We’re currently piloting in NYC, but if you're interested in Social Axis coming to your city, <%= link_to "Contact Us", new_contact_path %> - it could be the start of a great friendship. However, feel free to check out our NYC clubs below: </p>
                    <%= render :partial=>'show_nightclubs', :locals=> {:nightclub => Nightclub.find(:all)} %>
                  </div>
            <%end%>

        </div>
      </div>

      <% end %>


    <% else %>

      <div class="container">

        <div id="carousel" class="slick-slider carousel">

          <button id="carousel-prev" class="slick-prev" type="button"><i class="icon back">&lt;<span></span></i></button>
          <button id="carousel-next" class="slick-next" type="button"><i class="icon next">&gt;<span></span></i></button>

          <div>
            <div class="inner">
              <img src="/assets/content/lady.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/DJ.jpg" alt="Girl in club having a good time"/>
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/bartender.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/champagne.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/temp1.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/crowd.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/cute.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
          <div>
            <div class="inner">
              <img src="/assets/content/couple.jpg" alt="Girl in club having a good time" width="320" height="320" />
            </div>
          </div>
        </div>

        <div class="features">
          <h2>Take Control<br class="l490" /> of your Night</h2>

          <div>
            <img src="/assets/icons/social.png" alt="A loop with circles around it, making up a network" width="126" height="140" />
            <h3>Access</h3>
            <p>Social Axis leverages your social network to get exclusive access to your favorite nightlife.</p>
            <a class="forward" href="/about/" title="Learn more about Hookups">Learn more</a>
          </div>

          <div class="middle">
            <img src="/assets/icons/cocktail.png" alt="A cocktail in a glass with a slice of fruit on the lip" width="143" height="140" />
            <h3>Book Your Table</h3>
            <p>Social Axis brings all of the best nightclubs in your city together, and lets you book the table you want.</p>
            <a class="forward" href="/about/" title="Learn more about Booking a Table">Learn more</a>
          </div>

          <div>
            <img src="/assets/icons/tickets.png" alt="A pair of tickets" width="142" height="140" />
            <h3>Get Comped</h3>
            <p>Every picture, follower, or check-in gives nightclubs exposure and Social Axis comps you for that.</p>
            <a class="forward" href="/about/" title="Learn more about Rewards">Learn more</a>
          </div>
        </div>

      </div>


    <% end %>
