<div class="container">
  <div class="group three-four">
    <div class="card">
      <div class="card-inner">
        <h1>Contact Social Axis</h1>

        <p>Social Axis connects you to the most exclusive nightclubs in your city, while rewarding you for being socially connected. Want to learn more? Shoot us a note. </p>

        <%= simple_form_for @contact, :body => {:class => 'form-horizontal' } do |f| %>

        <form role="form">
             <div class="form-group">
               <%= f.label :name, "Your Name:" %>
               <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
             </div>
             <div class="form-group">
               <%= f.label :email, "Your Email:" %>
               <%= f.text_field :email, placeholder: "you@example.com", class: "form-control" %>
             </div>
              <div class="form-group">
               <%= f.label :message, "Your Question:" %>
               <%= f.text_area :message, placeholder: "Your Question", class: "form-control" %>
             </div>


              <%= f.button :submit, 'Send message', :class=> "blue" %>


       </form>
       <%end%>
      </div>
     </div>

     <div>
       More info here? Company address etc?

     </div>
  </div>
</div>
