<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="errors" class="message error">
      <%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:

      <ul>
      <% reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form role="form">

  <fieldset class="suffixed-labels">
    <%= f.label :reservation_date , "When are you looking to party:" %>

    <div class="inputset">
      <%= f.date_field :reservation_date, class: "form-control" %>
      <button id="datepicker-button" class="date-picker">Choose date</button>
    </div>
  </fieldset>

  <fieldset class="suffixed-labels" name="no-of-people" data-error-msg="At least one person must be going to your party">

    <%= f.label :females , "How many people will be going to your party:" %>
    <div class="inputset">
      <%= f.number_field :females,  class: "form-control" %>
      <span class="suffix"><i class="icon girl black"></i><span>Girls</span></span>
    </div>

    <div class="inputset">
      <%= f.number_field :males, class: "form-control"  %>
      <span class="suffix"><i class="icon boy black" ></i><span>Boys</span></span>
    </div>

  </fieldset>

   <div class="field">
     <%= f.hidden_field :amount %>
  </div>

   <div class="field">
     <%= f.hidden_field :user_id %>
  </div>

   <div class="field">
     <%= f.hidden_field :table_id %>
  </div>

  <div class="field">
     <%= f.hidden_field :nightclub_id %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-block" %>
  </div>
</form>
<% end %>
