<div class="container">
  <div class="group two-three">
    <div class="card club">
      <div class="card-inner">

        <h1>Confirm Payment</h1>

        <%#= render :partial=>'carousel' %>

        <p class="message warning">Reservation is not complete until <a href="#payment">payment is processed</a>.</p>

        <% Nightclub.connection %>
        <% @graph = Koala::Facebook::API.new(current_user.oauth_token) %>
        <%# @friends = @graph.get_connections("me", "friends") %>

        <%# if @friends.size > 800 and @friends.size <= 1200 %>
          <% a = @reservation.females*50 + 150 %>
        <%# elsif @friends.size >1200 and @friends.size <=2000 %>
        <%# a = @reservation.females*50 + 250 %>
        <%# elsif @friends.size >2000 %>
          <%# a = @reservation.females*50 + 350 %>
        <%#else%>
           <%# a = @reservation.females*50 %>
        <%#end%>

        <% if a > 800 %>
          <% a = 800 %>
        <%end%>

        <div class="mobile-details">

          <div class="titleset">
            <i class="icon cocktail black"></i>
            <h2>Reservation Details</h2>
          </div>

          <p><%= link_to 'Change reservation details', edit_reservation_path, class: "back highlight" %></p>

          <h3>Nightclub</h3>
          <p><%=Nightclub.find(@reservation.nightclub_id).name%></p>

          <h3>Date</h3>
          <p><%=@reservation.reservation_date.strftime("%a %d %b")%></p>

          <h3>Table Min.</h3>
          <p>$<%=@reservation.amount%>0</p>

          <h3>Social Axis Hookup</h3>
          <p>$<%= a %>.00</p>

          <h3>Final Cost</h3>
          <p>$<%=@reservation.amount - a%>0</p>

          <hr />
        </div>

        <div id="payment" class="payment">

          <div class="titleset">
            <i class="icon lock black"></i>
            <h2>Confirm Payment</h2>
          </div>

          <%= render :partial=>'new_payment', :locals=> {:payment => Payment.new(:table_id=> @reservation.table_id, :amount => @reservation.amount, :reservation_date => @reservation.reservation_date, :males => @reservation.males, :females => @reservation.females, :nightclub_id => @reservation.nightclub_id, :hookup => a) } %>

        </div>
      </div>
    </div>

    <div class="infobar box">
      <div class="box-inner">
        <div class="headerset">
          <h2>Reservation Details</h2>
        </div>

        <p><%= link_to 'Change reservation details', edit_reservation_path, class: "back highlight" %></p>

        <h3>Nightclub</h3>
        <p><%=Nightclub.find(@reservation.nightclub_id).name%></p>

        <h3>Date</h3>
        <p><%=@reservation.reservation_date.strftime("%a %d %b")%></p>

        <h3>Table Min.</h3>
        <p>$<%=@reservation.amount%>0</p>

        <h3>Social Axis Hookup</h3>
        <p>$<%= a %>.00</p>

        <h3>Final Cost</h3>
        <p>$<%=@reservation.amount - a%>0</p>

      </div>
    </div>

  </div>
</div>
