<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="errors" class="message error">
      <%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nightclub_id %><br>
    <%= f.number_field :nightclub_id %>
  </div>
  <div class="field">
    <%= f.label :min_cost %><br>
    <%= f.number_field :min_cost %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

 <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>

   <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
