<table>
  <thead>
    <tr>
      <td class="number">#</td>
      <td class="location">Location</td>
      <td class="min">Table Min.</td>
      <td class="reserve"></td>
    </tr>
  </thead>

  <%a = 1 %>
  <tbody>
    <% tables.each do |table| %>
    <tr>
      <td class="number"><%= a %></td>
      <td class="location"><%= table.location %></td>
      <td class="min">$<%= table.min_cost %></td>
      <td class="reserve">
        <input type="radio" name="location" value="<%= a %>" required />

        <!--%= link_to 'Make a reservation', table %></td-->

        <button type="button"><i class="icon cocktail blue"></i><span><%=link_to 'Book my table', table%> </span></button>
        </td>
    </tr>
      <%a = a+ 1 %>
    <% end %>
  </tbody>
</table>
