<div class="container">
  <div class="group two-three">
    <div class="card club">
      <div class="card-inner">

        <%= render :partial=>'carousel' %>

        <div class="mobile-details">
          <% Nightclub.connection %>
          <h1><%=Nightclub.find(@table.nightclub_id).name%></h1>

          <ul class="contact-details">
            <li class="phone"><i class="icon phone black"></i><%= Nightclub.find(@table.nightclub_id).phone_number %></li>
            <li class="marker"><i class="icon marker black"></i><%= Nightclub.find(@table.nightclub_id).address %></li>
          </ul>

          <div class="concealed description">
            <p><%= Nightclub.find(@table.nightclub_id).description %></p>
          </div>

          <div class="titleset">
            <i class="icon cocktail black"></i>
            <h2>Book Table</h2>
          </div>
        </div>

          <%# Partial for making reservation %>
          <%= render :partial=>'new_reservation', :locals=> {:reservation => Reservation.new(:table_id=> @table.id, :amount=> @table.min_cost, :nightclub_id=> @table.nightclub_id) } %>
      </div>
    </div>

    <div class="infobar box">

      <div class="box-inner">

        <div class="headerset">
          <h1><%= Nightclub.find(@table.nightclub_id).name %></h1>

          <ul class="contact-details">
            <li class="phone"><i class="icon phone"></i><%= Nightclub.find(@table.nightclub_id).phone_number %></li>
            <li class="marker"><i class="icon marker"></i><%= Nightclub.find(@table.nightclub_id).address %></li>
          </ul>
        </div>

        <p><%= Nightclub.find(@table.nightclub_id).description %></p>
      </div>
    </div>

  </div>
</div>
