
<%= form_for(@payment) do |f| %>

  <% if @payment.errors.any? %>
    <div id="errors" class="message error">
      <%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%- if @cc_last_4 %>
    <div class="field">
      <input type="radio" name="saved_card" value="true"/> Saved Card
      <input type="radio" name="saved_card" value="false"/> New Card
    </div>

    <div id="saved_card">
      <div class="field">
        <label>Saved Card</label>
        <input id="saved-number" type="text" disabled="true" value="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; <%= @cc_last_4 %>" />
      </div>
    </div>
  <%- end %>
  <div id="new_card">

    <form role="form">

      <div class="form-group">
        <%= f.label :reservation_date, "Need to move your Reservation Date:" %><br>
        <%= f.date_field :reservation_date, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :males, "Bringing more dudes:" %><br>
        <%= f.number_field :males, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :females, "Bringing more females:" %><br>
        <%= f.number_field :females, class: "form-control" %>
      </div>



    </form>
</br>
</br>

  <div class="actions">
    <center>
    <%= f.submit "Update Reservation", class: "btn btn-primary btn-lg" %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

  <%= link_to 'Cancel Reservation', @payment, class: "btn btn-danger btn-lg" , method: :delete, data: { confirm: "Are you sure? You'll receive a full redund if 24 hours in advance" } %>
    </center>
  </br>
</br>
</div>
<% end %>
