<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Details on your reservation </h3>
          </div>
          <% Nightclub.connection %>
         <div class="panel-body">
          <p>
            <strong>Name:</strong>
            <%= current_user.name%>
          </p>

          <p>
            <strong>Nightclub:</strong>
            <%=Nightclub.find(@payment.nightclub_id).name%>
          </p>

           <p>
           <strong>Date:</strong>
            <%= @payment.reservation_date.strftime("%a %d %b") %>
          </p>

            <p>
            <strong>Amount:</strong>
            $<%= @payment.amount - @payment.hookup %>0
          </p>

           <strong>Males:</strong>
            <%= @payment.males %>
          </p>

           <strong>Chicks:</strong>
            <%= @payment.females %>
          </p>
         
        </div>

        <div class="panel-footer">
        <span class="glyphicon glyphicon-hand-left"></span>
        <%= link_to 'Home', root_path %>
        </div>


        </div>
      </div>
  </div>
</div>