<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Stripe token:</strong>
  <%= @payment.stripe_token %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

  <strong>Table id:</strong>
  <%= @payment.table_id %>
</p>

 <strong>Date:</strong>
  <%= @payment.reservation_date %>
</p>

 <strong>Males:</strong>
  <%= @payment.males %>
</p>

 <strong>Chicks:</strong>
  <%= @payment.females %>
</p>
<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>

</div>