<div class="jumbotron">
<p id="notice"><%= notice %></p>
<%= image_tag @nightclub.image.url (:medium)  %>
<p>
  <strong>Name:</strong>
  <%= @nightclub.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @nightclub.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @nightclub.phone_number %>
</p>


<%= render :partial=>'show_tables', :locals=> {:table => Table.find_all_by_nightclub_id(@nightclub.id)} %>

<%= link_to 'Edit', edit_nightclub_path(@nightclub) %> |
<%= link_to 'Back', nightclubs_path %>
</div>