<div class="container">
	<div class="group two-three">
		<div class="card club">
			<div class="card-inner">

				<%= render :partial=>'carousel' %>

				<div class="mobile-details">
					<h1><%= @nightclub.name %></h1>

					<ul class="contact-details">
						<li class="phone"><i class="icon phone black"></i><%= @nightclub.phone_number %></li>
						<li class="marker"><i class="icon marker black"></i><%= @nightclub.address %></li>
					</ul>

					<div class="concealed description">
						<p><%= @nightclub.description %></p>
					</div>

					<div class="titleset">
						<i class="icon cocktail black"></i>
						<h2>Book Table</h2>
					</div>
				</div>

				<form id="party-form" action="/tables/" method="get">

					<fieldset id="table-choice" class="table-choice">
					<%= render :partial=>'show_tables', :locals=> {:tables => Table.find_all_by_nightclub_id(@nightclub.id)} %>
					</fieldset>

				</form>
			</div>
		</div>

		<div class="infobar box">

			<div class="box-inner">

				<div class="headerset">
					<h1><%= @nightclub.name %></h1>

					<ul class="contact-details">
						<li class="phone"><i class="icon phone"></i><%= @nightclub.phone_number %></li>
						<li class="marker"><i class="icon marker"></i><%= @nightclub.address %></li>
					</ul>
				</div>

				<p><%= @nightclub.description %></p>
			</div>
		</div>

	</div>
</div>
