<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Social Axis</title>

  <%= favicon_link_tag '/assets/favicon.ico' %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!--[if lt IE 10]>
    <link href="/assets/ie/ie.css" rel="stylesheet">
  <![endif]-->
  <!--[if IE 7]>
    <link href="/assets/ie/ie7.css" rel="stylesheet">
  <![endif]-->

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_include_tag "http://stripe.github.io/jquery.payment/lib/jquery.payment.js" %>
  <%= javascript_tag "Stripe.publishableKey = '#{Rails.configuration.stripe[:publishable_key]}';" %>
	<%= csrf_meta_tags %>

  <meta property="og:site_name" content="Social Axis" />
  <meta property="og:title" content="Title of page here" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="Description of page here" />
  <meta property="og:image" content="Link to an image here" />

  <script src="/assets/third-party/modernizr.min.js"></script>
  <!--[if lt IE 9]>
    <script src="/assets/third-party/html5shiv-printshiv.min.js"></script>
    <script src="/assets/third-party/nwmatcher-1.2.5-min.js"></script>
    <script src="/assets/third-party/selectivizr-min.js"></script>
    <script src="/assets/third-party/respond.min.js"></script>
  <![endif]-->
</head>


<%= render 'layouts/header' %>

 <% flash.each do |name, msg| %>
      <%#= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
